<?xml version="1.0" encoding="utf-8"?>
<Content Key="93b2f664-69a8-42a1-abc4-9ab9d70ff5ba" Alias="Website" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Website</Path>
    <Trashed>false</Trashed>
    <ContentType>website</ContentType>
    <CreateDate>2025-06-23T20:52:52</CreateDate>
    <NodeName Default="Website" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="40d5aff4-8731-4144-b1d8-d6a3267b87f7">Website</Template>
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5027e761-96a3-4ae2-860c-2b180edfc084",
      "key": "bbb77b23-d16a-4365-a88c-1d2274ff12f6",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "size": "H2",
            "text": "Dit is een test value"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "bbb77b23-d16a-4365-a88c-1d2274ff12f6",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "bbb77b23-d16a-4365-a88c-1d2274ff12f6",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </components>
    <heading>
      <Value><![CDATA[{
  "size": "H2",
  "text": "Test"
}]]></Value>
    </heading>
    <text>
      <Value><![CDATA[]]></Value>
    </text>
    <tst>
      <Value><![CDATA[{
  "text": "Dit is een test",
  "size": "H2"
}]]></Value>
    </tst>
  </Properties>
</Content>