<?xml version="1.0" encoding="utf-8"?>
<DataType Key="815b08bb-158e-47e3-9111-680228b48fcb" Alias="Default - Text Area" Level="3">
  <Info>
    <Name>Default - Text Area</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextArea</EditorUIAlias>
    <Folder>Custom/Textareas</Folder>
  </Info>
  <Config><![CDATA[{
  "maxChars": 12,
  "rows": 10
}]]></Config>
</DataType>