<?xml version="1.0" encoding="utf-8"?>
<DataType Key="61faf172-53f8-4101-bf40-6d9196bc8bed" Alias="Default - Text Box" Level="3">
  <Info>
    <Name>Default - Text Box</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
    <Folder>Custom/Textboxes</Folder>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 2
}]]></Config>
</DataType>