<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2fbb8a23-4ed0-49f1-962d-745c02c9d29f" Alias="website" Level="2">
  <Info>
    <Name>Website</Name>
    <Icon>icon-globe-alt</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ac0387a2-22e2-4755-981f-300996ad8956">componentsComposition</Composition>
    </Compositions>
    <DefaultTemplate>Website</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="40d5aff4-8731-4144-b1d8-d6a3267b87f7">Website</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>89a87c6a-0575-47a6-906b-78f7f0114a12</Key>
      <Name>Heading</Name>
      <Alias>heading</Alias>
      <Definition>1afff513-5de4-4ceb-8707-ef95784588ca</Definition>
      <Type>Umbraco.Community.Heading</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add your page heading here.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>15c01f26-efeb-4f0d-b0a5-c7a3ec3168f5</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>