<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1afff513-5de4-4ceb-8707-ef95784588ca" Alias="[H1] - Heading" Level="3">
  <Info>
    <Name>[H1] - Heading</Name>
    <EditorAlias>Umbraco.Community.Heading</EditorAlias>
    <EditorUIAlias>Umb.Community.PropertyEditorUi.Heading</EditorUIAlias>
    <Folder>Custom/Headings</Folder>
  </Info>
  <Config><![CDATA[{
  "allowedHeadings": [
    "H1"
  ]
}]]></Config>
</DataType>