@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Community.TextboxHeading.Site.ContentTypes.Website>
@{
	Layout = null;
}

<p>@Model.Heading.Size -  @Model.Heading.Text</p>
