<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2fbb8a23-4ed0-49f1-962d-745c02c9d29f" Alias="website" Level="2">
  <Info>
    <Name>Website</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ac0387a2-22e2-4755-981f-300996ad8956">componentsComposition</Composition>
    </Compositions>
    <DefaultTemplate>Website</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="40d5aff4-8731-4144-b1d8-d6a3267b87f7">Website</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>89a87c6a-0575-47a6-906b-78f7f0114a12</Key>
      <Name>Heading</Name>
      <Alias>heading</Alias>
      <Definition>1afff513-5de4-4ceb-8707-ef95784588ca</Definition>
      <Type>Umbraco.Community.Heading</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Lorem ipsum dolor sit amet. Et voluptatem quas ut voluptatem harum non architecto nisi sit ullam odit ut blanditiis optio non explicabo aliquid vel nemo odit. Et nesciunt perspiciatis qui consequatur ipsum est consequatur eligendi ad aperiam eaque qui rerum totam. Nam quae consequatur sed quasi nostrum et quod provident.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content-Old">Content - old</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>69d5f3dc-38cb-48ed-b99d-52acc48c8370</Key>
      <Name>text</Name>
      <Alias>text</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content-Old">Content - old</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>69d71bbf-3f15-4c71-9975-232a98113d38</Key>
      <Name>tst</Name>
      <Alias>tst</Alias>
      <Definition>6faf57d4-f4ed-4db1-b58a-4fc0bd9431d7</Definition>
      <Type>Umbraco.Community.Heading</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content-Old">Content - old</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>988b2472-7f77-4022-a89c-a0ce0445b0dd</Key>
      <Caption>Content - old</Caption>
      <Alias>content-Old</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>