<?xml version="1.0" encoding="utf-8"?>
<DataType Key="109fd418-023a-437f-8857-d85bdde171a4" Alias="Components - Block List Editor" Level="3">
  <Info>
    <Name>Components - Block List Editor</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom/Block+List+Editors</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5027e761-96a3-4ae2-860c-2b180edfc084",
      "label": "Text {umbHeadingValue: title | prefix: - }"
    }
  ]
}]]></Config>
</DataType>