<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6faf57d4-f4ed-4db1-b58a-4fc0bd9431d7" Alias="[H2 - H3]  - Heading" Level="3">
  <Info>
    <Name>[H2 - H3]  - Heading</Name>
    <EditorAlias>Umbraco.Community.Heading</EditorAlias>
    <EditorUIAlias>Umb.Community.PropertyEditorUi.Heading</EditorUIAlias>
    <Folder>Custom/Headings</Folder>
  </Info>
  <Config><![CDATA[{
  "allowedHeadings": [
    "H2",
    "H3"
  ]
}]]></Config>
</DataType>