<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1afff513-5de4-4ceb-8707-ef95784588ca" Alias="My Heading" Level="2">
  <Info>
    <Name>My Heading</Name>
    <EditorAlias>Umbraco.Community.Heading</EditorAlias>
    <EditorUIAlias>Umb.Community.PropertyEditorUi.Heading</EditorUIAlias>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "allowedHeadings": [
    "H2",
    "H3"
  ]
}]]></Config>
</DataType>